<div  class="clock center">
	
		<span id="plus_five">+5</span><span id="seconds">00</span>:<span id="minutes">00</span>
		<% if @users.count > 0 %>
			<span id="time_best">(<%= @users[0].time %> is the time to beat).</span>
		<% end %>	
</div>

<div class="message">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>

<p class="center"><button class="submit_btn" id="start">Start Game</button></p>

<p class="center" id="quote"></p>

<div class="first-game center">
	<h2>What's my Middle Name?</h2>

	<h2 class="name"></h2>
	<br>
	<svg id="stickman" width="300" height="250">
	  <line x1="150" y1="0" x2="150" y2="10"  stroke="#000" stroke-width="4"/>
	  <line x1="50" y1="0" x2="150" y2="0"  stroke="#000" stroke-width="4"/>
	  <line x1="50" y1="0" x2="50" y2="250"  stroke="#000" stroke-width="4"/>
	  <line x1="10" y1="250" x2="200" y2="250"  stroke="#000" stroke-width="4"/>
	 <circle id="head" cx="150" cy="50" r="40" stroke="#000" stroke-width="4" />
	<line id="body" x1="150" y1="90" x2="150" y2="160" stroke="#000" stroke-width="4"/>
	<line id="leg1" x1="150" y1="160" x2="195" y2="220" stroke="#000" stroke-width="4"/>
	<line id="leg2" x1="150" y1="160" x2="105" y2="220" stroke="#000" stroke-width="4"/>
	<line id="arm1" x1="150" y1="125" x2="195" y2="100" stroke="#000" stroke-width="4"/>
	<line id="arm2" x1="150" y1="125" x2="105" y2="100" stroke="#000" stroke-width="4"/>
</svg>
<br>
<br>
<br>
<br>
<div class="letters">
	<div class="row center"></div>	

	<div class="row center"></div>	
</div>
	
</div>
<div class="second-game center">
	<h2>It's Bernard!</h2>
	<h3>Click each circle:</h3>
	<div id="game"></div>
	<br class="clear">
	<h2 class="center">I got the skills!</h2>	
</div>
 
 <div id="new-user-form">
 		<h4 class="center"><span id='winTime'></span></h4>
 		<h4 class="center">Sign up to save your time!</h4>
	<%= form_for(@user) do |f|  %>
		
		<% if @user.errors.messages.any? %>
			<% @user.errors.full_messages.each do |msg| %>
				<p><%= msg  %></p>
			<% end %>
		<% end %>

		<%= f.hidden_field :time  %>

		<p><%= f.label :name  %><br>
		<%= f.text_field :name  %></p>
	
		<p><%= f.label :email  %><br>
		<%= f.text_field :email  %></p>
	
		<p><%= f.label :password  %><br>
		<%= f.password_field :password %></p>
		
		<p><%= f.label :password_confirmation, "Confirm"  %><br>
		<%= f.password_field :password_confirmation %></p>

		<br>
		<br>
		<p class="center"><%= f.submit "Save Your Time", class: "submit_btn" %></p>

	<% end %>
</div>

		