<!DOCTYPE html>
<html>
<head>
  <title>David Hurley</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<header>
			<h1>David B Hurley</h1>
			<h2>Web Developer</h2>
			<% if current_user %>
				<%= link_to "Quit", sessions_destroy_path %>
				<%= link_to "Play Again", edit_user_path(current_user) %>
			<% end %>
		</header>

<%= yield %>

</body>
</html>
